*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

:root{
    --color-primary: #ff5c05;
    --color-secondary: #27c6d9;
    --color-black: black;
    --color-white: white;
}
body{
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E6 100%);
    padding: 0 1rem;
}

header{
    border-color: var(--color-black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column-reverse;
    

    /* border: 1px solid black;
    align-items: center;
    justify-content: center; */
    
}

header nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto 0;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem; */
}

header .logo-cadastro{
    display: block;
    margin: 1rem auto;
    /* max-width: 10rem; */
}

header h1{
    font-family: 'Barriecito', cursive;
    font-size: 2rem;
    text-align: center;
}

header nav a{
    color: var(--color-black);
    font-size: 1.25rem;
    padding: 0.5rem;
    text-decoration: none;
    /* display: block;
    color: var(--color-black);
    font-size: 1.25rem;
    padding: 0.5rem;
    text-decoration: none; */
}

header nav a:nth-child(2n-1){
    text-align: right;
}

.cadastro{
    border-color: var(--color-black);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 1.25rem;
    
}

.cadastro-form label{
    display: block;
    font-size: 1.5rem;
}

.cadastro-form input{
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    font-size: 1.5rem;
    padding: .5rem;
    width: 100%;
}

.cadastro-container{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1.25rem;
    flex-direction: column;
    border-color: var(--color-black);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 1.25rem;
}

.card{
    background-color: var(--color-primary);
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    color: var(--color-black);
    max-width: 25rem;
    padding: 2rem 0.8rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    margin-bottom: 4rem;
}

.card img{
    max-width: 200px;
    
    
}

.button{
    background-color: var(--color-secondary);
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    color: var(--color-black);
    display: block;
    font-size: 1.25rem;
    padding: .75rem 1rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    cursor: none;
}

/* UTILITÁRIOS */
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.text-primecolor{
    color: var(--color-primary);
}
.text-center{
    text-align: center;
}

/* Responsividade */

@media screen and (min-width: 40rem){
    header nav{
        display: block;
        text-align: center;
    }
    .cadastro-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card:nth-child(2n){
        margin-top: 1rem;
    }
}

@media screen and (min-width: 48rem){
    header{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    

    header nav a{
        font-size: 1.80rem;
        gap: 2rem;
    }
}

@media screen and (min-width: 72rem){
    header h1{
        font-size: 4rem;
    }
}